<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <title>
            saneRoster
        </title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script>
            $(document).ready(function() {
              $(".date").datepicker({ dateFormat: "dd/mm/yy" });
            });
        </script>
    </head>
    <body>
    	<div id="whole_page">
			<div id="page_header">
				<div id="menu_bar">
					<ul id="menu">
	
					  <li><a href="">saneRoster&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					  <li><a href="/">Home</a></li>
					  <li><a href="">Roster</a>
					    <ul>
					    <li><a href="/">Preferences</a></li>
					    </ul>
					  </li>
					  <li><a href="/">Logbook</a>
					    <ul>
					    <li><a href="/">Scrape from Raido</a></li>
					    <li><a href="/">Browse</a></li>
					    <li><a href="/">Download</a></li>
					    </ul>
					  </li>
					  <li><a href="/contact">Contact</a>
					    <ul>
					    <li><a href="/register">Register</a></li>
					    <li><a href="/sendflowers">Send flowers</a></li>
					    </ul>
					  </li>
					  <li><a href="/login">Logout</a></li>
					</ul>
				</div>
			</div>

			<div id="page_body">
			[% content %]
			</div>
		
			<div id="page_footer">
				<i>saneRoster - fulfilling the need rather than meeting the budget</i>
			</div>
        </div>
    </body>
</html>